[submodule "Blacksee/vendor/spdlog"]
	path = Blacksee/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Blacksee/vendor/GLFW"]
	path = Blacksee/vendor/GLFW
	url = https://github.com/kirixx/GLFW
